{block content}
<p>Querried image:</p>
<img src="{$imageUrl}" />

<h2>Tags</h2>
<p>Response status: {$tagStatus}</p>
{foreach $tags as $tag}
    <span>{$tag}</span>
{/foreach}

<h2>Faces</h2>
<p>Response status: {$faceStatus}</p>
{foreach $faces as $face}
{/foreach}

{dump $faces}